logSeparator = "|";
logEnable = true;

// ENVIORNMENT CONFIGURATION
PATH = '/api/'; // MY_API_PATH
LISTEN_AT = 3000; // PORT OF NODEJS APPLICATION

IS_PRODUCTION = false; // false = Staging, true = Production
PRODUCT_SHOW_USERID_LIVE = "12345";
PRODUCT_SHOW_USERID_LOCAL = "2345";

siteLink = "https://test.example.com";

predefinedWalletTypeIds = [1, -1, -2]; // could be change at anytime


// API CREDENTIAL STAGING
srcuid = "test_user"; // srcuid FOR STAGING
srcpwd = "test_password"; // srcpwd FOR STAGING
keyId = "5bd485f0-09a1-11e9-aea3-1f560374ecce"; // Encryption Key Id (kid) FOR STAGING
EncryptionKey = "Ld83ShdoDVVmdXFCrRB8N8c6tkLKttmtxM_9MmZpfos"; // Encryption Key FOR STAGING
EncryptionKeyId = "5bd485f0-09a1-11e9-aea3-1f560374ecce"; // Encryption Key Id (kid) FOR STAGING

global.clientId = "clientId";
global.clientSecret = "clientSecret";
global.grantType = "client_credentials";
global.apiChannel = "api";


// API LIST

API_HOST = 'http://localhost:3001/'; // STAGING URL
API_BASE_PATH = API_HOST + 'api/';
AUTH_TOKEN_GENERATE_API = API_HOST + 'auth/token';
OPERATOR_IDENTIFY = API_BASE_PATH + 'tp/operator/identify';

// Support API CREDENTIAL PRODUCTION
supportGrantType = "password";
supportClientId = 41;
supportClientSecret = "#$eDjFqwV$%Wk$i#c*UMkde#2quLmV";
supportUsername = "TestUser";
supportPassword = "TestPasswd";


// Support Ticket API List
SUPPORT_API_HOST = 'http://localhost:3000/'; // PRODUCTION URL
SUPPORT_TOKEN_REQUEST = SUPPORT_API_HOST + 'oauth/token';
SUPPORT_TICKETS_CREATE = SUPPORT_API_HOST + 'tickets/create';
SUPPORT_TICKETS_STATUS_BASE = SUPPORT_API_HOST + 'tickets/'; // tickets/90000011/status HERE NUMERIC IS TICKET NUMBER
SUPPORT_TICKETS_API = SUPPORT_API_HOST + 'tickets';

module.exports = function (app) {
};
